<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../assets/images/breadcrumbsabout-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>About</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About</li>
        </ol>

      </div>
    </div>
    <!-- End Breadcrumbs -->
    

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" >

        <div class="row gy-4" >
          <div class="col-lg-4">
            <img src="assets/images/logo.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <div class="content ps-lg-5">
              <h3>Voluptatem dignissimos provident quasi</h3>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   

  
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" >

        <div class="section-header">
          <h2>Our Team</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" >
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" >
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" >
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" >
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Team Section -->
   
  <!-- testimonials start -->
<section class="testimonial text-center mb-3">
  <div class="container">
      <div class="heading white-heading">
          Testimonial
          <p class="heading ">Experiences of our clients</p>
      </div>
      <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-bs-ride="carousel" data-bs-pause="hover" data-interval="5000" data-bs-duration="2000">
          <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                  <div class="testimonial4_slide">
                      <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive img-fluid ms-5   shadow  rounded-5" width="200">
                      <h4 class="testimonial-content pt-5">Client 1</h4>
                      <p class="testimonial-content p-5" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                     
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="testimonial4_slide p-5">
                      <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive  img-fluid ms-5   shadow  rounded-5" width="200">
                      <h4 class="testimonial-content pt-5">Client 2</h4>
                      <p class="testimonial-content p-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="testimonial4_slide">
                      <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive  img-fluid ms-5   shadow  rounded-5" width="200">
                      <h4  class="testimonial-content  pt-5">Client 3</h4>
                      <p class="testimonial-content p-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                     
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#testimonial4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#testimonial4" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
      </div>
  </div>
</section>
 <!-- our services -->

 <section id="services-list" class="services-list">
  <div class="container">

    <div class="section-header">
      <h2>Company Profile</h2>

    </div>

    <div class="row gy-5">

      <div class="col-lg-4 col-md-6 service-item d-flex"  >
        <div class="icon flex-shrink-0"><i class="bi bi-briefcase" style="color: #f57813;"></i></div>
        <div>
          <h4 class="title"><a href="#" class="stretched-link">Prime Locations</a></h4>
          <p class="description">Our projects are strategically located in areas with excellent connectivity, proximity to essential amenities, and serene surroundings.</p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6 service-item d-flex">
        <div class="icon flex-shrink-0"><i class="bi bi-card-checklist" style="color: #15a04a;"></i></div>
        <div>
          <h4 class="title"><a href="#" class="stretched-link">Quality Construction</a></h4>
          <p class="description">We adhere to the highest standards of construction quality and craftsmanship, ensuring durability, safety, and aesthetic appeal in every structure we build.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6 service-item d-flex" >
        <div class="icon flex-shrink-0"><i class="bi bi-bar-chart" style="color: #d90769;"></i></div>
        <div>
          <h4 class="title"><a href="#" class="stretched-link">Sed ut perspiciatis</a></h4>
          <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6 service-item d-flex" >
        <div class="icon flex-shrink-0"><i class="bi bi-binoculars" style="color: #15bfbc;"></i></div>
        <div>
          <h4 class="title"><a href="#" class="stretched-link">Customer-Centric Approach</a></h4>
          <p class="description">At Megha 369 Developers, customer satisfaction is our top priority. We prioritize open communication, transparency, and responsiveness to fulfill the needs and preferences of our valued customers.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6 service-item d-flex">
        <div class="icon flex-shrink-0"><i class="bi bi-brightness-high" style="color: #f5cf13;"></i></div>
        <div>
          <h4 class="title"><a href="#" class="stretched-link">Innovative Design</a></h4>
          <p class="description">Our team of architects and designers is dedicated to creating innovative and functional spaces that enhance the quality of life for our residents. We focus on incorporating modern design trends, sustainable practices, and ergonomic layouts in our projects.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6 service-item d-flex">
        <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week" style="color: #1335f5;"></i></div>
        <div>
          <h4 class="title"><a href="#" class="stretched-link">Commitment to Sustainability</a></h4>
          <p class="description">We are committed to environmental sustainability and strive to integrate eco-friendly practices into our projects. From energy-efficient features to green spaces, we aim to minimize our ecological footprint and promote a greener tomorrow.</p>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>
</section><!-- End Our Services Section -->
  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter section-bg">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-headset color-green flex-shrink-0"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-people color-pink flex-shrink-0"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>
  </section><!-- End Stats Counter Section -->


  </main><!-- End #main -->