<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../assets/images/breadcrumbsabout-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>About</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>About</li>
      </ol>

    </div>
  </div>
  <!-- End Breadcrumbs --> 
 
 
 
 
 <!-- ======= Features Section ======= -->


 <section id="features" class="features section-bg p-5">
    <div class="container" >
        <div class="row">
            <h3>Mega369 Developers</h3>
         <p>We specialize in providing prime residential plots for sale, offering you the perfect canvas to build your dream home. With a commitment to excellence and a passion for creating thriving communities, we're here to help you find the ideal plot to call your own.</p>
         </div>

      <ul class="nav nav-tabs row  g-2 d-flex">

        <li class="nav-item col-4">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
            <h4>About</h4>
          </a>
        </li><!-- End tab nav item -->

       
        <li class="nav-item col-4">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
            <h4>Plot Area</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-4">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
            <h4>Gallery</h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content">

        <div class="tab-pane active show" id="tab-1">
          <div class="row">
            <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" >
              <h3>Quality Policy</h3>
              <p class="fst-italic">
                Experience the epitome of modern living at Mega369 DTCP Township. Situated in a prime location, our meticulously planned township offers a perfect blend of luxury, convenience, and sustainability. With DTCP (Directorate of Town and Country Planning) approval, you can rest assured of the highest standards of development and legality. Enjoy a range of amenities including landscaped parks, recreational facilities, and community spaces designed to enhance your quality of life. Whether you're looking for a plot to build your dream home or an investment opportunity with promising returns, Mega369 DTCP Township has something for everyone.
              </p>
              
            </div>

          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-2">
          <div class="row">
            <!-- <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>Location Highlights
              </h3>
              
              <ul>
                <li><i class="bi bi-check2-all"></i> Nestled near the esteemed Govt. Medical College, Megha 369 Township ensures residents have access to quality healthcare facilities just a stone's throw away</li>
                <li><i class="bi bi-check2-all"></i>With the presence of KCR Double Bed Room Houses nearby, convenience and accessibility become synonymous with everyday living.</li>
                <li><i class="bi bi-check2-all"></i> Families will appreciate the proximity to the renowned Govt. KGBV School & College, providing educational opportunities right at their doorstep.</li>
                <li><i class="bi bi-check2-all"></i>  Offering a multitude of dining options, the venture is conveniently situated near the popular Haritha Hotel and R & B Guest House.</li>
                <li><i class="bi bi-check2-all"></i>  Offering a multitude of dining options, the venture is conveniently situated near the popular Haritha Hotel and R & B Guest House.</li>
                <li><i class="bi bi-check2-all"></i>  Offering a multitude of dining options, the venture is conveniently situated near the popular Haritha Hotel and R & B Guest House.</li>
                <li><i class="bi bi-check2-all"></i>  Offering a multitude of dining options, the venture is conveniently situated near the popular Haritha Hotel and R & B Guest House.</li>
                <li><i class="bi bi-check2-all"></i>  Offering a multitude of dining options, the venture is conveniently situated near the popular Haritha Hotel and R & B Guest House.</li>
              </ul>
            </div> -->
            <div class="col-lg-12 order-1 order-lg-2 text-center">
              <img src="../../assets/images/plotarea.png"alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-3">
          <div class="row">
           
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="../../assets/images/banner3.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="../../assets/images/banner4.png" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

      

      </div>

    </div>
  </section><!-- End Features Section -->
