
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../assets/images/breadcrumbsabout-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>About</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>About</li>
      </ol>

    </div>
  </div>
  <!-- End Breadcrumbs --> 
 
 
 
 
 <!-- ======= Features Section ======= -->


 <section id="features" class="features section-bg p-5">
    <div class="container" >
        <div class="row">
            <h3>Mega369 Developers</h3>
         <p>We specialize in providing prime residential plots for sale, offering you the perfect canvas to build your dream home. With a commitment to excellence and a passion for creating thriving communities, we're here to help you find the ideal plot to call your own.</p>
         </div>

      <ul class="nav nav-tabs row  g-2 d-flex">

        <li class="nav-item col-4">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
            <h4>About</h4>
          </a>
        </li><!-- End tab nav item -->

       
        <li class="nav-item col-4">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
            <h4>Plot Area</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-4">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
            <h4>Gallery</h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content">

        <div class="tab-pane active show" id="tab-1">
          <div class="row">
            <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" >
              <h3>Mega369 Farm Land</h3>
              <p class="fst-italic">
                Escape the hustle and bustle of city life and embrace the tranquility of rural living at Mega369 Farm Lands. Nestled amidst lush greenery and scenic landscapes, our farm lands offer a peaceful retreat where you can reconnect with nature and enjoy a slower pace of life. Perfect for agriculture, horticulture, or simply as a weekend getaway, our farm lands provide ample space and fertile soil for a variety of purposes. Whether you're a farmer looking to expand your operations or an investor seeking to diversify your portfolio, Mega369 Farm Lands offer a unique opportunity to own a piece of pristine countryside.
              </p>
              
            </div>

          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-2">
          <div class="row">
            
            <div class="col-lg-12 order-1 order-lg-2 text-center">
              <img src="assets/images/banner3.png"alt="" class="img-fluid">
            </div>
            
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-3">
          <div class="row">
           
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="../../assets/images/farm.jpg" alt="" class="img-fluid">
            </div>
            
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="../../assets/images/farmland.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

      

      </div>

    </div>
  </section><!-- End Features Section -->
